@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@411&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.25);

}
.auth h3 {
  color: white;
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;

  font-size: 20px;
  text-decoration: none;
  font-family: cursive;
}

.auth h3:hover {
  background: rgba(0, 0, 0, 0.5);
}


.navigation {
  margin-top: 60px;
  position: fixed;
  width: 250px;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
}


.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li:hover {
  background: darkseagreen;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fas,
.navigation ul li a .icon .far {
  font-size: 24px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  font-size: large;
  font-family: cursive;
}

.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: none;
}

.toggle:active {
  background: red;
}

.toggle:before {

  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.toggle:active:before {
  content: "\f00d";
}

#bg_home, #bg_sleep, #bg_meditation, #bg_music, #bg_scene {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: auto;
}

img {
  width: 210px;
  height: 250px;
}

p {
  font-size: 17px;
  color: white;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 700;
  color: white;

}

.col-md-3 {
  margin-top: 70px;
  max-height: 280px;
}

.sleep-poster {
  position: relative;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  height: 250px;
  width: 210px;
  box-shadow: 0 0 0 #3d2173a1;
  transition: all ease 0.4s;
}

.sleep-poster:hover {
  box-shadow: none;
  transform: scale(0.98) translateY(5px);
  cursor: pointer;
}


.meditation-poster {
  position: relative;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  height: 250px;
  width: 210px;
  box-shadow: 0 0 0 #3d2173a1;
  transition: all ease 0.4s;
}

.meditation-poster:hover {
  box-shadow: none;
  transform: scale(0.98) translateY(5px);
  cursor: pointer;
}

.music-poster {
  position: relative;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  height: 250px;
  width: 210px;
  box-shadow: 0 0 0 #3d2173a1;
  transition: all ease 0.4s;
}

.music-poster:hover {
  box-shadow: none;
  transform: scale(0.98) translateY(5px);
  cursor: pointer;
}

.scene-poster {
  position: relative;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  height: 250px;
  width: 210px;
  box-shadow: 0 0 0 #3d2173a1;
  transition: all ease 0.4s;
}

.scene-poster:hover {
  box-shadow: none;
  transform: scale(0.98) translateY(5px);
  cursor: pointer;
}



/*default is hide music player*/
#aplayer {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  margin: 0;
  box-shadow: 0 -2px 2px #dadada;
  background-color: #fff;
  transition: all ease 0.5s;
}
#aplayer.showPlayer {
  bottom: 0;
}

/*MUSIC PLAYER CUSTOMIZING STYLE*/

.aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap
  .aplayer-bar
  .aplayer-loaded {
  background: #e0e0e0;
  height: 4px;
}
.aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap
  .aplayer-bar
  .aplayer-played {
  height: 4px;
  background-color: #2196f3 !important;
}
.aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap
  .aplayer-bar
  .aplayer-played
  .aplayer-thumb {
  background-color: #2196f3 !important;
}

.aplayer .aplayer-icon {
  width: 20px;
  height: 20px;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
  fill: #000;
}
.aplayer .aplayer-info .aplayer-music {
  margin-bottom: 5px;
}




.modal-dialog {
  width: fit-content;
}

.modal-body {
  text-align: center;
}

/* sign in FORM */
#logreg-forms{
  width:412px;
  /* margin:10vh auto; */
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }


#logreg-forms .form-signup{ display: none; }


#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}


/* Mobile */



@media (max-width: 767px) {
  .toggle {
    display: block;
  }
  .auth h3 {
    right: 60px;
  }
  .navigation {
    left: -250px;
  }
  .navigation.active {
    left: 0;
    width: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  #bg_home, #bg_sleep, #bg_meditation, #bg_music, #bg_scene {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #bg_home, #bg_sleep, #bg_meditation, #bg_music, #bg_scene {
    width: auto;
    height: 100%;
  }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}